.card {
  border: none;
  border: 1px solid #8b8c89;
  transition: 0.5s;
}

.card img {
  max-height: 150px;
  object-fit: cover;
}

.card-image-container {
  position: relative;
  cursor: pointer;
}

.card-image-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  opacity: 0;
  transition: 0.5s;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.card-footer {
  display: none;
}
.card-footer button {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1024px) {
  .card-image-container:hover span {
    opacity: 1;
  }

  .card-image-container:hover img {
    filter: blur(3px);
  }
}

@media (max-width: 1023px) {
  .card-footer {
    display: block;
  }
}
