.modal-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.modal-header span {
  cursor: pointer;
}

.achievement-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.modal-image-container {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}

.modal-image {
  border: 1px solid var(--black);
  max-height: 500px;
  width: auto;
}

.modal-btn {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  background-color: var(--blue);
  transition: background-color 0.3s ease-in-out;
}

.modal-btn:hover {
  background-color: var(--blue-hover);
}

@media (max-width: 1023px) {
  .modal-image-container {
    grid-template-columns: auto;
  }

  .modal-image {
    max-width: 50%;
  }
}
