.experience {
  padding: 150px 15% 0 15%;
  min-height: 500px;
  flex-wrap: wrap;
  align-items: center;
}

/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #8b8c89;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

@media screen and (max-width: 1023px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }
}
