/* Container around content */
.timeline {
  position: relative;
  width: 50%;
}

.timeline-img {
  position: absolute;
  width: 120px;
  height: 120px;
  object-fit: cover;
  top: -30px;
  border-radius: 50%;
  z-index: 1;
}

.left .timeline-img {
  right: -59px;
}

.right .timeline-img {
  left: -59px;
}

.timeline-card {
  border: none !important;
}

.timeline-card p {
  text-align: justify;
  font-size: clamp(12px, 1.1vw, 20px);
  font-family: "Roboto", sans-serif;
}

.timeline-card h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(20px, 1.4vw, 28px);
}

.timeline-card h3 img {
  width: 1em;
  height: 1em;
}

/* Place the container to the left */
.left {
  padding: 0px 100px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 100px;
  left: 50%;
}

/* Add arrows to the left card (pointing right) */
.left .timeline-card::before {
  content: "";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: -9px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right card (pointing left) */
.right .timeline-card::before {
  content: "";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: -9px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

@media screen and (max-width: 1023px) {
  .timeline {
    width: 100%;
    padding-left: 100px;
    padding-right: 0;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-card::before {
    top: 18px;
    z-index: 1;
    left: -9px;
    border: medium solid white;
    border-width: 10px 10px 10px 0 !important;
    width: 2px;
    border-color: transparent white transparent transparent !important;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .timeline-img {
    width: 80px;
    height: 80px;
    top: -12px;
    border-radius: 50%;
    z-index: 1;
    left: -8px !important;
  }
}
