.carousel {
  padding: 10px;
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
}

.project-modal-body {
  padding: 0 !important;
}

.project-modal-carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.project-modal-carousel-indicators {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.project-modal-carousel-indicators .carousel-indicators-item {
  list-style-type: none;
  img {
    border: 1px solid #000000;
    cursor: pointer;
    width: auto;
    height: 30px;
    opacity: 0.5;
    transition: opacity 0.2s;
  }
}

.project-modal-carousel-indicators .carousel-indicators-item.active img,
.project-modal-carousel-indicators .carousel-indicators-item:hover img {
  opacity: 1;
}

.project-problem {
  padding: 20px 20px 0 32px;
}

.project-modal-desc-title {
  font-size: 18px;
}

.project-repository {
  padding: 20px 20px 0 32px;
  text-align: center;
  a {
    position: relative;
    color: #20c997;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #20c997;
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
  }

  a:hover::after {
    transform: scaleX(1);
  }
}

@media (max-width: 1023px) {
  .project-modal-carousel-item img {
    height: 300px;
  }
}
