.hero {
  padding: 20px 15%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
}

.hero-greeting {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: clamp(10px, 1vw, 28px);
  color: var(--turqoise-green);
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: clamp(32px, 4vw, 96px);
  color: var(--white);
}
