.contact-links {
  gap: 1rem;
  font-size: 24px;
  display: flex;
}

.contact-links a {
  color: #f8f9fa;
  transition: 0.3s;
}

.contact-links a:hover {
  color: var(--grey);
}
.contact-links.small {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
}

@media (max-width: 1023px) {
  .contact-links {
    display: none;
  }
}
