.about {
  padding: 150px 15% 0 15%;
  min-height: 500px;
  flex-wrap: wrap;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.about-desc {
  max-width: 500px;
}

.about-desc-highlight {
  color: var(--white);
  font-weight: 500;
}

.about-logo {
  width: clamp(200px, 19vw, 400px);
  height: auto;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .about-desc {
    max-width: none;
    text-align: justify;
  }
}
