.content {
  max-width: 1600px;
  margin: 0 auto;
}

/* reused in other components */
.desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 1.4vw, 32px);
  color: var(--grey);
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: clamp(32px, 4vw, 96px);
  color: var(--white);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title:before,
.title:after {
  content: "";
  color: var(--grey);
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.title:after {
  margin: 0 0 0 20px;
}

.show-more-btn {
  margin: 80px auto 0px;
  font-size: 14px;
  color: var(--turqoise-green);
  padding: 1rem 1.5rem;
  border: 1px solid var(--turqoise-green);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  transition: all 0.3s ease;
}
.show-more-btn:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px var(--turqoise-green);
}
@media (min-width: 768px) {
}

@media (max-width: 767px) {
}

[data-aos="custom-fade-up"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(15px);

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-aos="custom-fade-right"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(15px);

  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-aos="custom-fade-left"] {
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateX(-15px);

  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
  }
}
