.skill-item {
  border-radius: 10px;
  border: 1px solid #8b8c89;
  background-color: #001023;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.skill-item-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(18px, 1.2vw, 24px);
}

.skill-item ul {
  font-size: clamp(14px, 1.1vw, 20px);
  padding: 5px;
  color: #f8f9fa;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
  margin: 0;
}

.skill-item li {
  background-color: #003366;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

@media (min-width: 1024px) {
  .skill-item:hover {
    transform: translateY(-10px);
  }
}
